
<div style="color: #0a58ca; padding: 100px;">
    <div id="notification-box">
        <h1 style="color: #0a84ff; font-size: large; text-align: center;">Notifications</h1>
        <div class="notification-item">xxxx Sent you a Friend Request</div>
        <div class="notification-item">xxxx Shared a workout</div>
       
        <div class="notification-item empty">No new notifications</div>
    </div>
</div>